/* ----------------Top-level div for Handpose --------------*/

.header {
  text-align: left;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(57, 58, 61);
}

h1 {
  margin-top: 120px;
  padding: 20px 0 ;
  font-size: 50px;
}

#handpose-component{
  display: flex;
  justify-content: space-between;
}

/* ----------------Top-level div for Handpose --------------*/

#handpose-canvas {
  /* flex: 1; */
  /* width: 100%; */
}

#handpose-canvas > canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

#handpose-controls {
    width: 300px;
    align-items: center;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
}

#handpose-video-component {
  position: fixed;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

#info {
  font-size: 16px;
  margin: -10px 0 50px;
}

code {
  background-color: rgb(180, 186, 190);
  color: rgb(57, 58, 61);
  padding: 1pt 2pt;
  border-radius: 3px;
}

#footer {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}

.grid-swatches {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3px;
  row-gap: 3px;
  align-items: stretch;
  justify-content: center;
  width: 90%;

}

.grid-swatches > img {
  width: 90%;
  border-radius: 10px;
  border: 2pt solid rgb(185, 185, 185, 0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  /* align-self: center; */

}


img:hover, button:hover  {
  border: 2pt solid rgb(185, 185, 185) !important;
  /* transition-delay: 0.5s; */
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.detailed-instructions {
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
}

.popover {
  position: absolute;
  z-Index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

button {
  color: #B5B2B0;
  display: inline-block;
  width: 40%;
  margin-top: 20px;
  /* padding: 3px; */
  border: 2pt solid rgb(185, 185, 185, 0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 7px;
  background-color: rgb(57, 58, 61);
  text-align: center;
  line-height: 0;
  padding-bottom: 7px;

}

.previewBackgroundColor {
  position: relative;
  right: -19%;
  top: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 7px;
  border: 2pt solid #B5B2B0;
}

.previewBorderColor {
  position: relative;
  right: -7%;
  top: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(57, 58, 61);
  border-radius: 7px;
  border: 2pt solid rgb(57, 58, 61);
}

.loadingmessage {
  font-size: 50pt;
  position: absolute;
  top: 40%;
  left: 50%;
  color: rgb(57, 58, 61);
  z-index: 2;
}
