/* ----------------Top-level div for Handpose --------------*/

#handpose-component{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 10px;
  justify-content: space-evenly;
}

/* ----------------Top-level div for Handpose --------------*/

#handpose-canvas-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

#handpose-canvas {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 15px ;
}

#handpose-controls {
  padding: 0 15px ;
}

#handpose-video-component {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px ;

    /* display: flex;
    flex-direction: column; */
  }

/* ----------------Components for controls --------------*/

#handpose-colour-palette{

}

#handpose-transparency{

}

#handpose-brush-selector{

}

#handpose-clear-canvas{

}

#handpose-export-image{

}

#handpose-toggle-draw{

}

/* ------------------STYLE SLIDERS FOR CONTROLS ----------------/ */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
