/* * {
  border: 1pt solid orange;
} */


.header {
  text-align: left;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: rgb(57, 58, 61);
}



.logo {
  color: white;
}

.footer {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin-bottom: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(57, 58, 61);

}

.logo {

}
