
.logo {
  color: white;
}

.footer {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin-bottom: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(57, 58, 61);
}
